@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --primary-color: #ff69b4;
  --secondary-color: #00cc99;
  --light-color: #f8f8f8;
  --dark-color: #212121;
  --highlight-color: #ffcc00;
  --tertiary-color: #f5a623;
  --quaternary-color: #1cb0f6;

  /* Fonts */
  --font-family-default: "Roboto", sans-serif;
  --font-family-mono: "Courier New", monospace;

  /* Other */
  --transition-duration: 0.3s;
  --border-style: dashed;
  --border-width: 2px;

  /* Breakpoints */
  --breakpoint-xl: 1536px;
  --breakpoint-lg: 1200px;
  --breakpoint-md: 900px;
  --breakpoint-sm: 600px;
  --breakpoint-xs: 0px;
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, var(--primary-color), #4dff4d),
    linear-gradient(45deg, #ffc600, rgba(255, 198, 0, 0.5)),
    linear-gradient(-45deg, #ff00ff, rgba(255, 0, 255, 0.5)),
    linear-gradient(-135deg, #00ffff, rgba(0, 255, 255, 0.5));
  background-blend-mode: screen;
  font-family: var(--font-family-default);
}

a {
  display: inline-block;
  font-family: var(--font-family-mono);
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 2em;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color var(--transition-duration);
  border-bottom: var(--border-width) var(--border-style) transparent;
}

a:hover {
  color: var(--primary-color);
  text-decoration: var(--highlight-color) wavy underline;
}

button:focus,
a:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--highlight-color);
}
