:root {
  --primary-color: #0077ff;
  --primary-color-hovered: #0055cc;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #f06, #4dff4d),
              linear-gradient(45deg, #ffc600, rgba(255, 198, 0, 0.5)),
              linear-gradient(-45deg, #ff00ff, rgba(255, 0, 255, 0.5)),
              linear-gradient(-135deg, #00ffff, rgba(0, 255, 255, 0.5));
  background-blend-mode: screen;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  /* TODO */
}